global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
{% for host in groups['backends'] + groups['databases'] + groups['storages'] %}
  - job_name: {{ hostvars[host]['inventory_hostname'] }}
    static_configs:
    - targets: [ "{{ hostvars[host]['ansible_host'] }}:9100" ]
{% endfor %}
  - job_name: loki
    static_configs:
    - targets: [ "loki:3100" ]
